// $w - width
// $h - height
// $color - text color
// $t-family - text family
// $t-deco - text decoration (e.g. underline, overline)
// $font-size - font size
// $font-weight - font weight
// $t-ul-po - text underline position
// $t-skip-ink - text decoration skip ink
// $t-align - text align
// $t-transform - text transform
// $letter-space - letter spacing
// $blur - filter grayscale
// $scale - transform scale
// $transition - transition

// @mixin image-animation($w, $blur, $scale, $transition) {
//   width: $w;
//   filter: grayscale($blur);
//   transform: scale($scale);
//   transition: $transition;
// }

@mixin image($w, $h, $m, $blur, $scale, $transition, $object-fit) {
  width: $w;
  height: $h;
  margin: $m;
  filter: grayscale($blur);
  transform: scale($scale);
  transition: $transition;
  object-fit: $object-fit;
}

@mixin flex-center {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

@mixin anchor($color, $font-size, $pad, $t-deco, $t-ul-po, $t-skip-ink) {
  color: $color;
  font-size: $font-size;
  padding: $pad;
  text-decoration: $t-deco;
  text-underline-position: $t-ul-po;
  text-decoration-skip-ink: $t-skip-ink;
}

// heading ------------------------

@mixin header(
  $color,
  $t-family,
  $t-align,
  $font-size,
  $t-transform,
  $letter-space,
  $pad
) {
  color: $color;
  font-family: $t-family;
  text-align: $t-align;
  font-size: $font-size;
  text-transform: $t-transform;
  letter-spacing: $letter-space;
  padding: $pad;
}

// hr ------------------

@mixin hr-style($border, $color, $bt, $w, $mb, $style) {
  border: $border;
  color: $color;
  border-top: $bt;
  width: $w;
  margin-bottom: $mb;
  border: $style;
}

// subscribe ------------------

@mixin textarea($color, $w, $border, $h, $font-size, $m, $ps) {
  color: $color;
  width: $w;
  border: $border;
  height: $h;
  font-size: $font-size;
  margin: $m;
  padding-left: $ps;
}

@mixin button(
  $bg,
  $btn-color,
  $border,
  $border-radius,
  $w,
  $h,
  $m,
  $font-size
) {
  background: $bg;
  color: $btn-color;
  border: $border;
  border-radius: $border-radius;
  width: $w;
  height: $h;
  margin: $m;
  font-size: $font-size;
}

// back to top ---------------------
@mixin btt-div {
  display: flex;
  margin: auto;
  width: $btt-w-h;
  height: $btt-w-h;
  border: $btt-border;
  border-radius: $btt-border-radius;
  justify-content: $btt-center;
  align-items: $btt-center;
}

@mixin btt-p {
  font-size: $btt-font-size;
  color: $btt-color;
  font-weight: $btt-bold;
  align-items: $btt-align;
}
