@mixin nav-position {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@mixin header-center {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 3px dotted 414141;
}
