@mixin flex-center {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

@mixin a-link($text-dec, $text-ul-po, $text-skip-ink){
  text-decoration: $text-dec;
  text-underline-position: $text-ul-po;
  text-decoration-skip-ink: $text-skip-ink;
}



// navbar------------------------

@mixin nav-position {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

// header ------------------------
@mixin h1 ($align, $w, $size, $color, $family, $text-transform, $letter-space){
  text-align: $align;
  width: $w;
  font-size: $size;
  color: $color;
  font-family: $family;
  text-transform: $text-transform;
  letter-spacing: $letter-space;
}

@mixin header-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 3px dotted 414141;
}

// sub-menu----------------------
@mixin sub-menu {
  padding: $sub-menu-pad;
  color: $sub-menu-color;
  font-size: $sub-menu-font-size;
}

// Cards ------------------------
// image 
@mixin image($w, $blur, $scale, $transition) {
  width: $w;
  filter: grayscale($blur);
  transform: scale($scale);
  transition: $transition;
}


// about me ------------------

@mixin hr-style($hr-border, $hr-color, $hr-h, $hr-w, $hr-mb){
  border:$hr-border;
  color:$hr-color;
  height: $hr-h;
  width: $hr-w;
  margin-bottom: $hr-mb;
}

@mixin email{
  width: $sub-email-w;
  border: $sub-email-border;
  height: $sub-email-h;
  font-size: $sub-email-font-size;
  margin: $sub-email-m;
  padding-left: $email-ps;

}

@mixin button ($bg, $btn-color, $border, $border-radius, $w, $h, $m, $font-size){
  background: $bg;
  color:$btn-color;
  border: $border;
  border-radius: $border-radius;
  width: $w;
  height: $h;
  margin: $m;
  font-size: $font-size;
  
}

// back to top ---------------------
@mixin btt-div($display, $m, $w, $h, $border, $border-radius, $justify, $align){
  display: $display;
  margin: $m;
  width: $w;
  height: $h;
  border: $border;
  border-radius: $border-radius;
  justify-content: $justify;
  align-items: $align;
}

@mixin btt-p ($font-size, $line-height, $color, $font-weight, $align){
  font-size: $font-size;
  line-height: $line-height;
  color: $color;
  font-weight: $font-weight;
  align-items: $align;
}
