$body-bg: #fff9f9;

$body-family: "Karla", sans-serif;
$h2-font-family: "Nanum Myeongjo", serif;
$h3-font-family: 'Newsreader', serif;

$abbr-color:#ff0000;
$abbr-thick: 1.5px;

$f-upper: uppercase;

// font-size ------------------------
$h1-font-size: 1rem;
$h2-font-size: 8rem;
$h3-main-font-size: 2.5rem;
$h3-font-size: 5rem;
$h4-font-size: 1.6rem;
$p-font-size: 1.6rem;


// font color ------------------------
$body-color: #585858;
$h2-color: #020202;
$h3-color: #b89c00;
$h4-color: #020202;
$q-color:#313131;

// navbar ----------------------------

$nav-a-font-size: 1.4rem;
$nav-a-deco: none;

$nav-a-font-pad: 0 10px;
$nav-a-font-bold: 500;
$nav-a-hover: #ff0000;

$nav-burger-font-size: 1.6rem;

$nav-img-w: 17px;


// header - footer ------------------------

$header-bg: #fff0f2;
$header-pad: 10px 0;

$footer-bg: #000000;
$footer-color: #a8a8a8;

$h2-w: 360px;
$h2-color: #020202;
$h2-letter-space: 2rem;
$h2-align: center;
$h2-uppercase: uppercase;

$header-footer-h:300px;
$header-footer-p-font-size: 1.5rem;
$header-footer-p-letter-space: 0.3rem;

$footer-hr-border: none;
$footer-hr-h: 3px !important;
$footer-hr-w: 100%;
$footer-hr-mb: 0;



// sub-menu ----------------------------
$sub-menu-bg: #C8E7E1;
$sub-menu-h: 40px;
$sub-menu-font-family: $body-family;
$sub-menu-font-size: 1.5rem;
$sub-menu-pad: 8px 15px;
$sub-menu-color: $body-color;
$sub-menu-hover-color: red;

$dropdown-box-shadow:red;

// cards --------------------------------

$card-top-pad:15px;

$cards-m: 10px 0;


$card-h3-margin: 15px 0;
$card-h3-color: #b89c00;
$card-h3-weight: 500;
$card-h3-line-h: 30px;
$card-h3-font-family: 'Newsreader', serif;

$card-a-style: none;
$card-a-skip-ink: none;
$card-a-color: #b89c00;
$card-a-ul-style: underline;
$card-a-ul-po: under;
$card-a-ul-thick: 4px;

$card-m: 0 0 30px 0;


$card-p-font-size: 1.6rem;
$card-p-align: left;
$card-p-pad: 0 5px;
$card-p-color: #646464;
$card-p-line-h: 30px;



$card-img-w: 100%;
$card-img-blur: 0.9;
$card-img-blur-hover: 0%;
$card-img-scale: 1.025;
$card-img-origin: 1;
$card-img-transition: all 0.5s ease-in-out;

$card-btn-transition: all 0.25s ease-in-out;
$card-btn-bg:#ffffff;
$card-btn-color: #383838;
$card-btn-border: 1px solid #b89c00;
$card-btn-radius: 0;
$card-btn-w: 100px;
$card-btn-h: 25px;
$card-btn-m: 5px;
$card-btn-font-size: 1.3rem;

$card-btn-hover-bg: #b89c00;
$card-btn-hover-color: #ffffff;


// Right side section ----------------

$rs-m: 10px;
$rs-border: 1px solid #e2e2e2;


$h4-align: center;

$h4-color: #686868;
$h4-transform: uppercase;
$h4-pt:15px;

$rs-p-align: center;
$rs-p-font-size: 1.4rem;


$rs-a-color: black;
$rs-a-dec: none;
$rs-a-hover: underline double  #ffa600;
$rs-a-ul-po: under;
$rs-a-skip-ink:auto;


$h5-font-size:1.5rem;
$h5-transform: capitalize;
$h5-font-family: 'Nanum Myeongjo', serif;
$h5-pad: 15px 0;
$h5-color: #c2a500;
$h5-align: center;
$h5-weight:700;

$hr-border: none;
$hr-color: red;
$hr-w: 20%;
$hr-h: 2px;
$hr-mb: 15px;


// subscribe
$subscribe-bg: #c8e7e18f;
$subscribe-h: 280px;

$sub-email-w: 95%;
$sub-email-h: 25px;
$sub-email-m: 10px 0;
$sub-email-border: none;
$sub-email-font-size: 1.4rem;

$email-ps: 4px;

$sub-btn-w: 45%;
$sub-btn-bg: #c2a500;
$sub-btn-c:#ffffff;
$sub-btn-border-radius: 5px;
$sub-btn-hover-color: #000000;
$sub-btn-hover-bg: #cfcfcf;
$sub-btn-transition: all 0.5s ease-in-out;

// Popular posts
$pp-color: #c2a500;
$pp-ul-style: underline;
$pp-ul-thick: 2px;
$pp-ul-po: under;
$pp-skip-ink:none;

// Back to top (btt) ------------------
$btt-bg: #c8e7e1ee;
$btt-pad: 6px 0;
$btt-w-h: 25px;
$btt-border: 2px solid #c2a500;
$btt-border-radius: 50%;
$btt-center: center;

$btt-p-size-lh: 1.5rem;
$btt-p-color: #c2a500;
$btt-p-bold: 300;
$btt-p-align: center;





