$body-bg: f1f1f1;

// navbar ----------------------------

$nav-padding: 15px;

$nav-font-uppercase: uppercase;
$nav-font-size: 1.4rem;
$nav-font-style: none;
$nav-font-color: #585858;
$nav-font-padding: 0 10px;
$nav-font-weight: 500;
$nav-font-hover: #ff0000;
$nav-font-burger: 1.6rem;

$nav-img-width: 17px;


// header ------------------------------
$header-h: 300px;
$header-bg: #fff0f2;
$header-pad: 10px 0;

$h1-font-size: 8rem;
$h1-font-color: #020202;
$h1-font-family: "Nanum Myeongjo", serif;
$h1-font-uppercase: uppercase;

$header-p-font-size: 1.5rem;
$header-p-letter-space: 0.3rem;

// logo

$logo-outer-w: 55px;
$logo-outer-h: 55px;
$logo-outer-margin: 10px 0;

$logo-w: 45px;
$logo-h: 45px;
$logo-font-size: 2rem;
$logo-br: 50%;
$logo-bg: #fff0f2;
$logo-color: #686868;
$logo-border: 2px solid #686868;

// sub-menu----------------------------
$sub-menu-bg: #fcfcfc;
$sub-menu-font-family: "Karla", sans-serif;
$sub-menu-font-size: 1.5rem;
$sub-menu-pad: 8px 15px;
$sub-menu-color: #4b4b4b;
$sub-menu-hover-color: red;

$dropdown-box-shadow:red;

// blog --------------------------------

$blog-margin: 10px 0;

$blog-h2-font-size: 2.5rem;
$blog-h2-margin: 15px 0;
$blog-h2-color: #b89c00;
$blog-h2-weight: 500;
$blog-h2-line-h: 30px;
$blog-h2-font-family: 'Newsreader', serif;

$blog-card-m: 0px 0 0px 0;

$blog-id-h:50px;


$blog-p-font-size: 1.6rem;
$blog-p-align: left;
$blog-p-pad: 0 5px;
$blog-p-color: #646464;
$blog-p-line-h: 30px;

$blog-a-style: none;
$blog-a-skip-ink: none;
$blog-a-color: #b89c00;
$blog-a-ul-style: underline;
$blog-a-ul-po: under;
$blog-a-ul-thick: 4px;

$blog-img-w: 100%;
$blog-img-blur: 0.9;
$blog-img-blur-hover: 0%;
$blog-img-scale: 1.025;
$blog-img-origin: 1;
$blog-img-transition: all 0.5s ease-in-out;

// Right side section ----------------

$rs-m: 10px;
$rs-border: 1px solid #e2e2e2;


$h3-align: center;
$h3-font-size: 1.6rem;
$h3-color: #686868;
$h3-transform: uppercase;
$h3-pt:15px;

$rs-p-align: center;
$rs-p-font-size: 1.4rem;
$rs-p-abbr-color:#ff0000;
$rs-p-abbr-thickness: 1.5px;



$h4-font-size:1.5rem;
$h4-transform: capitalize;
$h4-font-family: 'Nanum Myeongjo', serif;
$h4-pad: 15px 0;
$h4-color: #c2a500;
$h4-align: center;
$h4-weight:700;

$hr-border: none;
$hr-color: red;
$hr-w: 20%;
$hr-h: 2px;
$hr-mb: 15px;


// subscribe
$subscribe-bg: #c8e7e18f;
$subscribe-h: 280px;

$sub-email-w: 95%;
$sub-email-h: 25px;
$sub-email-m: 10px 0;
$sub-email-border: none;
$sub-email-font-size: 1.4rem;

$email-ps: 4px;

$sub-btn-w: 60%;
$sub-btn-border-radius: 5px;
$sub-btn-hover-color: #ffffff;
$sub-btn-hover-bg: #c2a500;
$sub-btn-transition: all 0.5s ease-in-out;

// Popular posts
$pp-color: #c2a500;
$pp-ul-style: underline;
$pp-ul-thick: 2px;
$pp-ul-po: under;
$pp-skip-ink:none;

// Back to top ------------------
$backtotop-p-font-size: 4rem;
$backtotop-p-pad: 40px 0;



// footer ------------------------
$footer-mt: 50px;
$footer-bg:#000000;
$footer-pad:50px 0px;


$footer-h3-font-family:"Nanum Myeongjo", serif;
$footer-h3-font-size: 8rem;
$footer-p-font-size: 1.5rem;
$footer-p-letter-space: 0.3rem;