$body-bg: #fff9f9;

$abbr-color: #ff00ff;
$abbr-thick: 2px;

$f-upper: uppercase;

// font family ---------------------
$body-family: "Karla", sans-serif;
$h2-font-family: "Nanum Myeongjo", serif;
$h3-font-family: "Newsreader", serif;

// font-size ------------------------
$h1-font-size: 1rem;
$h2-font-size: 8rem;
$h3-font-size: 5rem;
$h3-content-font-size: 2.5rem;

$h4-font-size: 1.6rem;
$p-font-size: 1.6rem;

// font color ------------------------
$body-color: #585858;
$h2-color: #020202;
$h3-color: #b89c00;
$h3-assignment: #020202;
$h4-color: #020202;

// navbar ----------------------------
$nav-a-font-size: 1.4rem;
$nav-a-deco: none;

$nav-a-font-pad: 0 10px;
$nav-a-font-bold: 500;
$nav-a-hover: #ff0000;

$nav-burger-font-size: 1.6rem;

$nav-img-w: 17px;

// header - footer ------------------------

$header-bg: #fff0f2;
$header-pad: 10px 0;

$footer-bg: #000000;
$footer-color: #a8a8a8;
$footer-hr-color: #a8a8a8;

$h2-w: 360px;
$h2-letter-space: 2rem;
$h2-align: center;
$h2-uppercase: uppercase;

$header-footer-h: 300px;
$header-footer-p-font-size: 1.5rem;
$header-footer-p-letter-space: 0.3rem;

// sub-menu ----------------------------
$sub-menu-bg: #c8e7e1;
$sub-menu-h: 40px;
$sub-menu-font-family: $body-family;
$sub-menu-font-size: 1.5rem;
$sub-menu-pad: 8px 15px;
$sub-menu-color: $body-color;
$sub-menu-hover-color: red;

$dropdown-box-shadow: red;

// content --------------------------------

// cards
$card-top-pad: 15px;
$card-color: #b89c00;
$cards-m: 20px 0 10px 0;

$card-h3-margin: 15px 0;
$card-h3-weight: 500;
$card-h3-line-h: 30px;
$card-h3-font-family: "Newsreader", serif;

$card-a-style: none;
$card-a-skip-ink: none;
$card-a-color: $card-color;
$card-a-ul: underline;
$card-a-ul-po: under;
$card-a-ul-thick: 3px;

$card-m: 0 0 30px 0;

$card-p-align: left;
$card-p-pad: 0 5px;
$card-p-color: #646464;
$card-p-line-h: 30px;

$card-btn-color: #383838;
$card-btn-border: 1px solid $card-color;
$card-btn-hover-bg: $card-color;
$card-btn-hover-color: #ffffff;

// button
$btn-bg: #ffffff;
$btn-radius: 0;
$btn-w: 100px;
$btn-h: 25px;
$btn-m: 5px;
$btn-border: #cfcfcf;
$btn-transition: 0.25s ease-in-out;
$btn-font-size: 1.2rem;

// form
$form-btn-hover-bg: rgb(43, 43, 43);
$form-btn-hover-color: white;
$form-btn-h: 30px;

$form-input-color: #000000;
$form-input-w: 250px;
$form-input-h: 30px;
$form-input-border: 0;
$form-input-ps: 4px;
$form-focus: #b89c00;

$asterisk-color: red;
$asterisk-font-size: 2rem;

// blog

// Right side section (rs) ----------------

$rs-m: 10px;
$rs-border: 1px solid #e2e2e2;
$rs-align: center;
$rs-pt: 15px;
$rs-font-weight: 700;
$rs-color: #b89c00;
$rs-p-font-size: 1.4rem;

$rs-a-hover: underline double $rs-color;
$rs-a-ul-po: under;
$rs-a-skip-ink: none;

// subscribe (sub)
$sub-bg: #c8e7e18f;
$sub-h: 280px;

$sub-email-w: 95%;
$sub-email-h: 25px;
$sub-email-m: 10px 0;
$sub-email-border: none;
$sub-email-color: black;
$sub-email-bg-click: #f8ff9a;
$sub-email-ps: 4px;
$sub-focus: #b89c00;

$sub-btn-w: 45%;
$sub-btn-color: #ffffff;
$sub-btn-border-radius: 5px;
$sub-btn-hover-bg: #505050;
$sub-btn-transition: 0.5s ease-in-out;

// Popular posts (pp)
$pp-ul-style: underline;
$pp-ul-thick: 2px;
$pp-ul-po: under;
$pp-skip-ink: none;
$pp-pad: 5px;
$pp-font-size: 1.3rem;

// Back to top (btt) ------------------
$btt-color: #b89c00;
$btt-bg: #c8e7e1ee;
$btt-pad: 10px 0;
$btt-w-h: 25px;
$btt-border: 2px solid $btt-color;
$btt-border-radius: 50%;
$btt-center: center;

$btt-font-size: 1.5rem;
$btt-bold: 300;
$btt-align: center;
$btt-pb: 3px;
$btt-m: 0;
