// This is where you can import other stylesheets or write your scss code
@import "../../node_modules/bootstrap/scss/bootstrap";
@import "./mixin";
@import "./variables";

// font type
// font-family: 'Karla', sans-serif;
// font-family: 'Nanum Myeongjo', serif;
// font-family: 'Newsreader', serif;

div[class="sticky-top"] {
  background-color: #ffffff;
}

p {
  font-size: $p-font-size;
}

.col-8 {
  div {
    width: 100%;

    p {
      margin: 20px 0 !important;
    }

    // img {
    //   @include image(100%, 400px, none, 1, cover, none, cover);
    // }

    .img-container {
      position: relative;
      width: 100%;
      padding-top: 50%;
      margin: auto;
      img {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        text-align: center;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    blockquote {
      @include blockquote(100%, #313131, none, 5px 80px, none, auto);
      font-size: $p-font-size;
    }

    ul {
      padding: 0 10px 0 30px;
      list-style-type: none;
      border-left: 3px solid #dadada;

      li {
        margin: 10px 0;

        a {
          @include anchor(
            #b89c00,
            $p-font-size!important,
            none,
            none,
            under,
            none
          );
          text-decoration-thickness: 3px !important;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}

//   Assignment, Programs & Form -------------------------
.form,
.programs,
.assignment {
  @include header(
    $h3-assignment,
    $h3-font-family,
    none,
    $h3-content-font-size,
    $f-upper,
    10px,
    40px 0 10px 0
  );
}

// Assignment

.exercises {
  text-align: center;

  .exercises-container {
    display: inline-block;
    position: relative;
    width: 180px !important;
    height: 180px !important;
    margin: 15px !important;

    img {
      @include image(100%, 100%, none, 1, 1, 0.5s ease-in-out, cover);
    }

    .know-more {
      opacity: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      text-decoration: none !important;
      line-height: 30px;
      background-color: #b89c00;
      color: white !important;
      width: 100px;
      height: 30px;
      font-size: 1.3rem !important;
      transition: 0.5s ease-in-out;

      &:hover {
        background-color: rgb(53, 53, 53);
        color: rgb(221, 221, 221) !important;
      }
    }

    &:hover img {
      opacity: 0.5;
      filter: grayscale(0);
    }

    &:hover .know-more {
      opacity: 1;
      transition: 0.5s ease-in-out;
    }
  }
}

// Programs
.language {
  text-align: center;

  img {
    @include image(
      10%!important,
      10%!important,
      10px,
      1,
      1,
      filter 1s ease-in-out!important,
      cover
    );

    &:hover {
      filter: grayscale(0%);
    }
  }
}

// Form--------------------------------------------
.asterisk {
  color: $asterisk-color;
  font-size: $asterisk-font-size;
}

form {
  font-size: $p-font-size;
  margin-bottom: 20px;

  input {
    @include textarea(
      $form-input-color,
      $form-input-w,
      $form-input-border,
      $form-input-h,
      $p-font-size,
      0,
      $form-input-ps
    );
  }

  input,
  textarea {
    border: 1px solid #cfcfcf;

    &:focus {
      outline: 0;
      border: 1px solid $form-focus;
    }
  }

  button {
    @include button(
      white,
      $body-color,
      1px solid $btn-border,
      $btn-radius,
      $btn-w,
      $form-btn-h,
      $btn-m,
      $btn-font-size
    );
    transition: $btn-transition;
    text-transform: uppercase;

    &:hover {
      background-color: $form-btn-hover-bg;
      color: $form-btn-hover-color;
    }
  }
}
