// This is where you can import other stylesheets or write your scss code
@import "../../node_modules/bootstrap/scss/bootstrap";
@import "./mixin";
@import "./variables";

.blog {
  .blog-title {
    @include header(
      black!important,
      "Newsreader" serif,
      none,
      3.25rem,
      uppercase,
      10px,
      25px 0 10px 0
    );
    text-align: center;
  }
}

.blog-bg {
  width: 80% !important;
  border: 2px dotted #cfcfcf;

  p {
    margin: 5px 0 !important;
  }

  img:nth-child(1),
  img:nth-child(3) {
    @include image(100%, 400px, 10px 0!important, 0, 1, none, contain);
  }

  h4 {
    font-size: 2.5rem;
    text-align: left;
  }

  ul {
    text-align: left !important;
  }

  blockquote {
    @include blockquote(
      80%,
      white,
      #b89c00,
      10px 20px,
      center,
      20px auto!important
    );
  }
}
