// This is where you can import other stylesheets or write your scss code
@import "../../node_modules/bootstrap/scss/bootstrap";
@import "./mixin";
@import "./variables";

// font type
// font-family: 'Karla', sans-serif;
// font-family: 'Nanum Myeongjo', serif;
// font-family: 'Roboto Slab', serif;

:root {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Karla", sans-serif;
  background-color: $body-bg;
}

// navbar --------------------------------

nav {
  @include nav-position;
  padding: $nav-padding;

  a {
    text-decoration: $nav-font-style;
    text-transform: $nav-font-uppercase;
    font-size: $nav-font-size;
    color: $nav-font-color;
    padding: $nav-font-padding;
    font-weight: $nav-font-weight;

    &:hover {
      color: $nav-font-hover;
    }
    
  }

  

  .nav-link {
    color: $nav-font-color;
    font-size: $nav-font-burger;

    &:hover {
      color: $nav-font-hover;
    }
  }
}

// header ----------------------------
header {
  height: $header-h;
  background-color: $header-bg;
  padding: $header-pad;

  &,
  section {
    @include header-center;
  }

  .logo-outline {
    width: $logo-outer-w;
    height: $logo-outer-h;
    margin: $logo-outer-margin;
  }

  .logo {
    width: $logo-w;
    height: $logo-h;
    font-size: $logo-font-size;
    color: $logo-color;
  }

  .logo,
  .logo-outline {
    border-radius: $logo-br;
    border: $logo-border;
    background-color: $logo-bg;
    @include flex-center;
  }

  h1 {
    font-size: $h1-font-size;
    color: $h1-font-color;
    font-family: $h1-font-family;
    text-transform: $h1-font-uppercase;
  }

  p {
    font-size: $header-p-font-size;
    letter-spacing: $header-p-letter-space;
  }
}

// main ----------------------------------

// sub-menu
section {
  @include flex-center;
    div[class^="dropdown"] {
    a {
      @include sub-menu;
    }
  }
}

// cards

.grid-container {
  display: grid;
  grid-template-areas: "left left right";
  background-color: #2196f3;
  padding: 10px;
}
// blogs

.blog {
  margin: $blog-margin;

  div[class="col-10"]{
    div{

      a {
      text-decoration: $blog-a-link;
      color: $blog-a-link-color;
        &:hover {
          text-decoration: $blog-a-hover;
          text-decoration-color: $blog-a-hover-color;
          text-underline-position: $blog-a-underline-po;
          text-decoration-thickness: $blog-a-underline-thick

        }
      } 

      img {
        @include image(
          $blog-img-w,
          $blog-img-blur,
          $blog-img-origin,
          $blog-img-transition
        );

          &:hover {
            filter: grayscale($blog-img-blur-hover);
            transition: $blog-img-transition;

          }
      }


      h2 {
        font-size: $blog-h2-font-size;
        margin: $blog-h2-margin;
      }


      p {
        font-size: $blog-p-font-size;
        text-align: $blog-p-align;
      }

    }
  }


 }


// Side section ----------------------

.about {
  margin: $side-margin;
  padding: $side-pad;
  border: $side-border;
  @include flex-center;
  flex-direction: column;;
  
  h3 {
    text-align: $side-h3-align;
    font-size: $side-h3-font-size;
  }

  p {
 
    text-align: $side-p-align;
    font-size: $side-p-font-size;
    padding: $side-p-pad;
  }

  abbr{
    text-decoration-color: $side-p-abbr-color;
    text-decoration-thickness: $side-abbr-thickness;
  }
  
    
  .carousel-item{
    transition: transform 5s ease;
  }

  h4{
    font-size: $about-h4-font-size;
    font-family: $about-h4-font;
    font-weight: $about-h4-weight;
    text-transform: $about-h4-transform;
    padding: $about-h4-pad;
    color: $about-h4-color;
    text-align: $about-h4-align;
  }
}



// in case you miss section -----------
.miss {
  .col {
    a {
      img {
        @include image(
          $miss-img-w,
          $miss-img-blur,
          $miss-img-scale,
          $miss-img-duration
        );
      }
    }
  }
}
