// This is where you can import other stylesheets or write your scss code
@import "../../node_modules/bootstrap/scss/bootstrap";
@import "./mixin";
@import "./variables";

// font type
// font-family: 'Karla', sans-serif;
// font-family: 'Nanum Myeongjo', serif;
// font-family: 'Newsreader', serif;

:root {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $body-family;
  background-color: $body-bg;
  color: $body-color;
}

abbr {
  text-decoration-color: $abbr-color !important;
  text-decoration-thickness: $abbr-thick !important;
  cursor: pointer !important;
}

// navbar --------------------------------

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  padding: 15px;

  a {
    @include anchor(
      $body-color,
      $nav-a-font-size,
      $nav-a-font-pad,
      $nav-a-deco,
      none,
      none
    );
    text-transform: $f-upper;
    font-weight: $nav-a-font-bold;

    &:hover {
      color: $nav-a-hover;
    }
  }

  img {
    width: $nav-img-w;
  }

  .nav-link {
    color: $body-color;
    font-size: $body-color;
  }
}

// header - footer -------------------------------

header,
footer {
  height: $header-footer-h;
  position: relative;
  bottom: 0;

  &,
  section {
    @include flex-center;
    flex-direction: column;
  }

  img {
    width: 70px;
    padding: 0 10px;
  }

  span {
    font-size: 1.5rem;
  }

  h2 {
    @include header(
      $h2-color,
      $h2-font-family,
      $h2-align,
      $h2-font-size,
      $f-upper,
      $h2-letter-space,
      none
    );
    width: $h2-w;
  }

  p {
    font-size: $header-footer-p-font-size;
    letter-spacing: $header-footer-p-letter-space;
  }
}

header {
  background-color: $header-bg;
  padding: $header-pad;
}

footer {
  background-color: $footer-bg;
  h2 {
    color: #a8a8a8;
  }

  hr {
    @include hr-style(none, $footer-hr-color, 3px, 100%, 0, solid);
    margin-top: 30px;
  }

  .copyright {
    width: 100%;

    p {
      margin: 0;
      text-align: center;
      line-height: 60px;
    }
  }
}

// sub-menu ------------------------------------

section[class^="submenu"] {
  background-color: $sub-menu-bg;
  height: $sub-menu-h;

  div[class="container"] {
    @include flex-center;

    div[class^="dropdown"] {
      a {
        @include anchor(
          $sub-menu-color,
          $sub-menu-font-size,
          $sub-menu-pad,
          none,
          none,
          none
        );

        &:hover {
          color: $sub-menu-hover-color;
        }
      }
    }
  }
}

// content ---------------------------------------

.content {
  margin: $cards-m;

  .asterisk {
    color: $asterisk-color;
    font-size: $asterisk-font-size;
  }

  p {
    font-size: $p-font-size;
    text-align: $card-p-align;
  }

  div[class="col-8"] {
    .top-padding {
      height: $card-top-pad;
    }

    div {
      margin: $card-m;
      position: relative;

      h3 {
        @include header(
          $h3-color,
          $h3-font-family,
          none,
          $h3-card-font-size,
          none,
          none,
          none
        );
        margin: $card-h3-margin;
        font-weight: $card-h3-weight;
        line-height: $card-h3-line-h;
      }

      a {
        @include anchor($h3-color, $h3-font-size, 0, $card-a-style, none, none);

        &:hover {
          text-decoration: $card-a-ul-style;
          text-decoration-thickness: $card-a-ul-thick;
        }
      }

      .card-img {
        @include image(
          100%,
          auto,
          none,
          1,
          1.025,
          filter 1s ease-in-out,
          cover
        );

        &:hover {
          filter: grayscale(0);
        }
      }

      p ~ button {
        position: absolute;
        right: 10px;
        @include button(
          $btn-bg,
          $body-color,
          $card-btn-border,
          $btn-radius,
          $btn-w,
          $btn-h,
          $btn-m,
          $btn-font-size
        );
        text-transform: uppercase;
        transition: $btn-transition;

        &:hover {
          background-color: $card-btn-hover-bg;
          color: $card-btn-hover-color;
        }
      }
    }
  }
}

.carousel-item {
  transition: transform 5s ease !important;
}

// Right side (rs) section ----------------------

.pop_posts,
.social,
.subscribe,
.about {
  @include flex-center;
  flex-direction: column;
  margin: $rs-m;
  border: $rs-border;

  h4 {
    @include header(
      $h4-color,
      $body-family,
      $rs-align,
      $h4-font-size,
      $f-upper,
      none,
      $rs-pt 0 0 0
    );
  }

  hr {
    @include hr-style(none, #ff0000, 1px, 25%, 20px, solid);
  }

  p {
    font-size: $p-rs-font-size;
    text-align: $rs-align;

    a {
      @include anchor(
        $rs-a-color,
        $p-rs-font-size,
        none,
        none,
        $rs-a-ul-po,
        $rs-a-skip-ink
      );
      font-weight: $rs-font-weight;

      &:hover {
        text-decoration: $rs-a-hover;
      }
    }
  }

  // carousel
  .carousel-item {
    transition: transform 5s ease;
  }
}

// subscribe
.subscribe {
  height: $sub-h;
  background-color: $sub-bg;

  form {
    text-align: center;

    input[type="email"] {
      @include textarea(
        $sub-email-color,
        $sub-email-w,
        $sub-email-border,
        $sub-email-h,
        $p-rs-font-size,
        $sub-email-m,
        $sub-email-ps
      );

      &:focus {
        outline: none;
        border: 1px solid $sub-focus;
      }
    }

    input[type="submit"] {
      @include button(
        $rs-color,
        $sub-btn-color,
        $sub-email-border,
        $sub-btn-border-radius,
        $sub-btn-w,
        $sub-email-h,
        $sub-email-m,
        $p-rs-font-size
      );
      transition: $sub-btn-transition;

      &:hover {
        background-color: $sub-btn-hover-bg;
      }
    }
  }
}

// Social media
.social {
  height: 150px;

  div {
    display: flex;
    flex-direction: row;
    a {
      padding: 10px;
      img {
        width: 16px;
      }
    }
  }
}

// Popular posts
.pop_posts {
  padding-bottom: 10px;
  div {
    div {
      @include flex-center;

      img {
        width: 40%;
        padding: 5px 0;
      }

      div {
        font-size: $pp-font-size;
        width: 60%;
        padding-left: $pp-pad;
        text-align: left;
        text-overflow: ellipsis;

        &:hover {
          @include anchor(
            $rs-color,
            $pp-font-size,
            $pp-pad,
            $pp-ul-style,
            $pp-ul-po,
            $pp-skip-ink
          );
        }
      }
    }
  }
}

// Back to top --------------------------

.backtotop {
  background-color: $btt-bg;
  padding: $btt-pad;
  bottom: 0;

  div {
    @include btt-div;

    a {
      text-decoration: none;
    }

    p {
      @include btt-p;
      vertical-align: middle;
    }
  }
}
