// This is where you can import other stylesheets or write your scss code
@import "../../node_modules/bootstrap/scss/bootstrap";
@import "./mixin";
@import "./variables";

// font type
// font-family: 'Karla', sans-serif;
// font-family: 'Nanum Myeongjo', serif;
// font-family: 'Newsreader', serif;

:root {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Karla", sans-serif;
  background-color: $body-bg;
}

// navbar --------------------------------

nav {
  @include nav-position;
  padding: $nav-padding;

  a {
    text-decoration: $nav-font-style;
    text-transform: $nav-font-uppercase;
    font-size: $nav-font-size;
    color: $nav-font-color;
    padding: $nav-font-padding;
    font-weight: $nav-font-weight;

    &:hover {
      color: $nav-font-hover;
    }
    
  }

  img{
    width: $nav-img-width;
  }
  

  .nav-link {
    color: $nav-font-color;
    font-size: $nav-font-burger;

    &:hover {
      color: $nav-font-hover;
    }
  }
}

// header ----------------------------
header {
  height: $header-h;
  background-color: $header-bg;
  padding: $header-pad;

  &,
  section {
    @include header-center;
  }

  .logo-outline {
    width: $logo-outer-w;
    height: $logo-outer-h;
    margin: $logo-outer-margin;
  }

  .logo {
    width: $logo-w;
    height: $logo-h;
    font-size: $logo-font-size;
    color: $logo-color;
  }

  .logo,
  .logo-outline {
    border-radius: $logo-br;
    border: $logo-border;
    background-color: $logo-bg;
    @include flex-center;
  }

  h1 {
    font-size: $h1-font-size;
    color: $h1-font-color;
    font-family: $h1-font-family;
    text-transform: $h1-font-uppercase;
  }

  p {
    font-size: $header-p-font-size;
    letter-spacing: $header-p-letter-space;
  }
}

// main ----------------------------------

// sub-menu
.sticky-top{
  background-color: #C8E7E1;

    div[class="container"] {

      @include flex-center;

      div[class^="dropdown"] {

        a {
          @include sub-menu;

          &:hover{
          color: $sub-menu-hover-color;
          }
        }
      }
    }
  }



// cards

.grid-container {
  display: grid;
  grid-template-areas: "left left right";
  background-color: #2196f3;
  padding: 10px;
}
// blogs

.blog {
  margin: $blog-margin;

  div[class="col-8"]{
    .id-top-height{
      height:$blog-id-h;
    };



    div{
      margin: $blog-card-m;

      a {
      text-decoration: $blog-a-style;
      color: $blog-a-color;

        &:hover {
          @include a-link(
            $blog-a-ul-thick $blog-a-ul-style, 
            $blog-a-ul-po, 
            $blog-a-skip-ink);
        }
      } 

      img {
        @include image(
          $blog-img-w,
          $blog-img-blur,
          $blog-img-origin,
          $blog-img-transition
        );
        object-fit: cover;

          &:hover {
            filter: grayscale($blog-img-blur-hover);
            transition: $blog-img-transition;

          }
      }


      h2 {
        font-size: $blog-h2-font-size;
        margin: $blog-h2-margin;
        font-family: $blog-h2-font-family;
        font-weight: $blog-h2-weight;
        line-height: $blog-h2-line-h;
        color: $blog-h2-color;
      }


      p {
        font-size: $blog-p-font-size;
        text-align: $blog-p-align;
        color: $blog-p-color;
        // letter-spacing: -.5px;
        // line-height: 20px;
        // transform: scaleY(1.25)
      }

    }
  }


 }


// Ride side (rs) section ----------------------

.latest_posts,
.social,
.subscribe,
.about {
  @include flex-center;
  margin: $rs-m;
  border: $rs-border;
  flex-direction: column;
  
  h3 {
    text-align: $h3-align;
    font-size: $h3-font-size;
    text-transform: $h3-transform;
    color: $h3-color;
    padding-top: $h3-pt;
  }

  hr{
    @include hr-style($hr-border, $hr-color, $hr-h, $hr-w, $hr-mb);
  }
  
  h4{
    font-size: $h4-font-size;
    font-family: $h4-font-family;
    font-weight: $h4-weight;
    text-transform: $h4-transform;
    padding: $h4-pad;
    color: $h4-color;
    text-align: $h4-align;
  }


  p { 
    font-size: $rs-p-font-size;
    text-align: $rs-p-align;
    
  }

  abbr{
    text-decoration-color: $rs-p-abbr-color;
    text-decoration-thickness: $rs-p-abbr-thickness;
  }
  
    
  .carousel-item{
    transition: transform 5s ease;
  }

  
}

.subscribe{
  height: $subscribe-h;
  background-color: $subscribe-bg;

  form{
    text-align: center;
    

    input[type="email"]{
      @include email;
    

      &:focus{
        outline: none;
        background-color: #f3f3f3;
      }
    }

    input[type="submit"]{
      @include submit;
      transition: $sub-btn-transition;

      &:hover{
        background-color: $sub-btn-hover-bg;
        color: $sub-btn-hover-color;
        transition: $sub-btn-transition;
      
      }
    }
  }

}

.social{
  height: 150px;
  
  div{
    display: flex;
  flex-direction: row;
  a{
    padding: 10px;
    img{
      width: 16px;
    }
  }
}
}

.latest_posts{
  padding-bottom: 10px;
  div{
    div{
      display: flex;
      flex-direction: row;
      align-items: center;
      
      
      img{
       width: 40%;
       padding: 5px 0;
     }

    div{
      
      font-size: 1.3rem;
       width: 60%;
       padding-left: 5px;
       text-align: left;
       text-overflow: ellipsis;

       &:hover{
         @include a-link($pp-color $pp-ul-style $pp-ul-thick, $pp-ul-po, $pp-skip-ink);
       }
       
     }
    }
  }
  
}




// Back to top --------------------------

a{
 
  p{
    font-size: $backtotop-p-font-size;
    padding:$backtotop-p-pad ;
  }
}


// footer -------------------------------

footer{

  background:$footer-bg;
  
.container{
  background:$footer-bg;}
  text-align: center;

  div{
    padding: $footer-pad;
    h3{
    color: white;
    font-family: $footer-h3-font-family;
    font-size: $footer-h3-font-size;
  }

 p{
    font-size: $footer-p-font-size;
    color: white;
    letter-spacing: $footer-p-letter-space;
  }
  }
}